<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="flex h-screen items-center justify-center bg-gray-100">
  <div class="flex flex-col md:flex-row items-center bg-white shadow-lg rounded-lg p-8">
   
    <!-- LOGO -->
    <div class="md:w-1/2 mb-4 md:mb-0">
      <img
        src="/images/logo.png"
        alt="Icono de inicio de sesión"
        class="w-48 h-48"
      />
    </div>

    <!-- Formulario de inicio de sesión -->
    <div class="md:w-1/2">
      <h2 class="text-2xl font-bold mb-6">Inicia Sesión</h2>
      
      <!-- Campo Usuario -->
      <div class="mb-4">
        <label class="block text-gray-700 font-semibold mb-2">Usuario</label>
        <input
          type="text"
          name="username"
          placeholder="Correo electrónico"
          class="w-full px-4 py-2 border border-gray-300 rounded-lg text-gray-700 focus:outline-none focus:border-blue-500"
          required
        />
      </div>

      <!-- Campo Contraseña -->
      <div class="mb-6">
        <label class="block text-gray-700 font-semibold mb-2">Contraseña</label>
        <input
          type="password"
          name="password"
          placeholder="Contraseña"
          class="w-full px-4 py-2 border border-gray-300 rounded-lg text-gray-700 focus:outline-none focus:border-blue-500"
          required
        />
      </div>

      <!-- Botón Iniciar Sesión -->
      <button
        type="submit"
        class="w-full bg-[#53ACC9] text-white font-bold py-2 px-4 rounded-lg hover:bg-[#26e89c] transition duration-300"
      >
        INICIAR SESIÓN
      </button>
    </div>
  </div>
</body>
</html>

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>LOGIN</h1>
    <form action="/users/login" method="post">
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" id="password" placeholder="password" required>
        <input type="submit" value="Login">
    </form>
</body>
</html> -->