<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agendar Cita</title>
</head>
<body>
    <h1>Agendar Cita</h1>
    <form action="/users/agendarCita/{{ id_usuario }}" method="post">
        <label for="id_medico">Selecciona Médico:</label>
        <select name="id_medico" id="id_medico" required>
            {% for medico in medicos %}
            <option value="{{ medico.id_usuario }}">{{ medico.nombre }}</option>
            {% endfor %}
        </select>

        <label for="fecha_cita">Fecha y Hora:</label>
        <input type="datetime-local" name="fecha_cita" id="fecha_cita" required>

        <button type="submit">Agendar</button>
    </form>
    <a href="/users/details/{{ id_usuario }}">Cancelar</a>
</body>
</html>
