<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h1>Dashboard Usuario</h1>
    <a href="/users/misCitas">Mis Citas</a>
    <a href="/users/ver-expediente">Mi Expediente Clínico</a>

    <div class="card-container">
        {% for user in users%}
        <div class="card">
            <h3>{{user.nombre}}</h3>
            <button onclick="window.location.href='/users/details/{{ user.id_usuario }}'">Ver información</button>
        </div>
        {% endfor %}
    </div>
    <form action="/users/logout" method="post">
        <input type="submit" value="logout">
    </form>
</body>
</html>